# Terraform state - local backend here, and it can contain secrets in plaintext
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Local terraform working directory (provider binaries, cached modules)
.terraform/

# Ignore override files as they may contain sensitive data, such as passwords or private keys
*.tfvars
tfplan
*.tfplan

# Crash logs
crash.log
crash.*.log

.DS_Store