# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!platform/terraform.tfvars
tfplan
*.tfplan
*.tfplan.binary
crash.log
crash.*.log
override.tf
override_*.tf

# Editor / OS
.DS_Store
.idea/
.vscode/